/* -----------------------------------
Template:  Theme Name

NOTE: This is blog style file. All blog related style included in this file.

--------------------------------------*/
.single-blog{
}
.blog-img {
  float: left;
}
.blog-content-inner {
  padding-left: 130px;
}
.blog-content{
	padding:10px;
	position:relative;
}
.blog-content a h4 {
  color: #666666;
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: capitalize;
  transition:all .3s;
}
.blog-content a h4:hover{color:#F4A137}
.read-more {
  color: #444444;
  display: block;
  font-weight: 500;
  padding-top: 0px;
}
.single-blog:hover .blog-content{
  box-shadow: 1px 1px 14px 1px rgba(0, 0, 0, 0.2);
}
.blog-content p {
  padding-top: 7px;
}

.blog-content::before {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: rgba(0, 0, 0, 0) #ffffff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-image: none;
  border-style: solid;
  border-width: 10px;
  content: "";
  height: 0;
  left: 0;
  margin-left: -20px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 10%;
  width: 0;
}
.single-blog:hover .blog-content::before{opacity:1}

.blog-area.dotted-style-2 .owl-carousel .owl-controls .owl-nav div {
  right: 60px;
}
.blog-area.dotted-style-2 .owl-carousel .owl-controls .owl-nav .owl-next {
  right: 18px;
}

.subscribe-form {
  margin-top: 6px;
  padding: 0 50px;
}
.subscribe-form form {
  position: relative;
}
.subscribe-form form input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #eee;
  color: #fff;
  padding-right: 95px;
  width: 100%;
}
.subscribe-form form button {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: transparent none repeat scroll 0 0;
  border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #eee;
  border-image: none;
  border-style: none none none solid;
  border-width: medium medium medium 1px;
  bottom: 0;
  color: #eee;
  height: 100%;
  padding: 0 15px;
  position: absolute;
  right: 0;
  transition: all 0.3s ease 0s;
}
.subscribe-form  form button:hover{color:#F4A137}}

/* blog-page */

.blog-page-area {
  background: #fff!important;
}
.latest-blog-area {
}
.blog-wrapper {
  overflow: hidden;
}
.blog-img {
    overflow: hidden;
}
.blog-img img {
    transition: all 0.3s ease 0s;
    width: 100%;
}
.blog-wrapper:hover .blog-img img {
    opacity: 0.85;
    transform: scale(1.1);
}
.blog-info {
    font-weight: 400;
    padding: 38px 0 0;
}
.blog-info h3 {
}
.blog-info h3 a {
  color: #555;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 7px;
  margin-top: 30px;
  text-transform: uppercase;
}
.blog-meta {
    margin-top: 20px;
    overflow: hidden;
}
.blog-meta span {
    color: #959595;
    font-size: 13px;
}
.blog-meta span a {
    color: #363636;
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    transition: all 300ms ease-in 0s;
}
.blog-meta span a:hover, .blog-info h3 a:hover {
    color: #ffae00;
}
.blog-meta span a::after {
    content: "";
    font-family: FontAwesome;
    padding-left: 5px;
}
.blog-large span a::after {
    display: none;
}
.blog-large span a i {
    margin-right: 5px;
}
.blog-large span {
    margin-left: 15px;
}
.blog-main {
}
.blog-main .blog-info {
    padding: 15px 0 0;
}
.blog-main .blog-meta {
    margin: 15px 0;
}
.read-more > a {
    border: 1px solid #dddddd;
    color: #444444;
    display: inline-block;
    padding: 5px 10px;
}
.read-more > a:hover {
    background: #ffae00 none repeat scroll 0 0;
    border-color: #ffae00;
    color: #ffffff;
}
blockquote {
    border-left: 5px solid #ffae00;
}
blockquote p {
    font-size: 17px;
}
.media {
}
.media li {
    overflow: hidden;
}
.media li .media-img {
    float: left;
    width: 90px;
}
.media li .media-img a {
}
.media li .media-content {
    margin-left: 105px;
}
.media li .media-content h5 {
    font-size: 15px;
    font-weight: 500;
}
.media li .media-content span {
}
.pagination {
    border-radius: 0;
    display: block;
    margin-bottom: 0;
}
.pagination > li {
    display: inline-block;
    margin-right: 6px;
}
.pagination > li > a, .pagination > li > span {
    background: #eeeeee none repeat scroll 0 0;
    border: 0 none;
    border-radius: 50%;
    color: #202020;
    font-size: 16px;
    height: 50px;
    line-height: 48px;
    margin-left: 0;
    padding: 0;
    text-align: center;
    width: 50px;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-radius: 50%;
    margin-left: 0;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 50%;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover, .pagination > li > span.current {
    background-color: #03a9f4;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #ffffff;
}
.comment-info {
    overflow: hidden;
}
.comment-info h4 {
    color: #ffae00;
    font-size: 18px;
    font-weight: 700;
}
.comment-meta a {
    color: #ffae00;
    display: inline-block;
    font-weight: 700;
    line-height: normal;
}
.comment-meta a:hover {
    color: #000000;
}
.comment-meta a:last-of-type {
    margin-left: 20px;
    padding-left: 20px;
    position: relative;
}
.comment-meta a:last-of-type::before {
    background-color: #ffae00;
    content: "";
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
}
.comment-list .media-left {
    padding-right: 25px;
}
.comment-list .media-body p {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.author-name {
    float: left;
}
.comment-meta {
    float: right;
    line-height: normal;
}
.total-comments {
    border-bottom: 1px solid #dddddd;
    margin-top: 30px;
    text-transform: uppercase;
}
.blog-wrapper .blog-img {
  float: none;
}
.sidebar-widget > form input {
  background: #fff;
  border: 1px solid#ddd;
}
.media-left a img.avatar {
  max-width: none;
}
.comments-form form input, textarea {
  background: #ffffff none repeat scroll 0 0;
}
.comments-form button {
  border: 1px solid #f4a137;
}










