/*

Template:  
Author: 
Version: 1
Design and Developed by: 

Note: This is Short code style file. All Short code related style included in this file. 

*/

@import url("default.css");
@import url("header.css");
@import url("mainmenu.css");
@import url("slider.css");
@import url("product-tab.css");
@import url("client.css");
@import url("blog.css");
@import url("product.css");
@import url("other-page.css");
@import url("footer.css");
