@model OnionBookOnline.Models.GoodSVIewModel
@{
    ViewBag.Title = "Cart";
}
<!-- breadcrumb start -->
<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="account/index"><i class="fa fa-home"></i> 账户</a></li>
            <li class="active">购物车</li>
        </ol>
    </div>
</div>
<!-- breadcrumb end -->
<!-- cart-main-area start -->
<div class="cart-main-area pt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">图片</th>
                                    <th class="product-name">产品</th>
                                    <th class="product-price">价格</th>
                                    <th class="product-quantity">数量</th>
                                    <th class="product-subtotal">总价</th>
                                    <th class="product-remove">删除</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ foreach (OnionBookOnline.Models.Goods good in Model.GOODS)
                                    {
                                        <tr>
                                            <td class="product-thumbnail"><a href="#"><img src=@good.PICTURE alt="" /></a></td>
                                            <td class="product-name"><a href="product-details.html">@good.NAME</a></td>
                                            <td class="product-price"><span class="amount">$@good.PRICE</span></td>
                                            <td class="product-quantity"><input type="number" value="@good.AMOUNT" /></td>
                                            <td class="product-subtotal">@good.SUBCOUNT</td>
                                            <td class="product-remove"><a href="#"><i class="fa fa-times"></i></a></td>                                            
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3 col-sm-5 col-xs-12" style="float: right">
                        <div class="cart_totals">
                            <table>
                                <tbody>
                                    <tr class="order-total">
                                        <th>合计</th>
                                        <td>
                                            <strong><span class="amount">$@Model.TOTAL</span></strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="wc-proceed-to-checkout">
                                <a href="#"> 结算</a>
                            </div>
                            <div style="height: 40px">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
