<style>
    .table-content table td.product-status {
        width: 270px;
    }
</style>
<!-- breadcrumb start -->
<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">账户</a></li>
            <li class="active">历史订单</li>
        </ol>
    </div>
</div>
<!-- breadcrumb end -->
<!-- cart-main-area start -->
<div class="cart-main-area pt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">图片</th>
                                    <th class="product-name">书名</th>
                                    <th class="product-price">单价</th>
                                    <th class="product-quantity">数量</th>
                                    <th class="product-subtotal">总价</th>
                                    <th class="product-subtotal">订单状态</th>
                                    <th class="product-subtotal">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="product-thumbnail"><a href="#"><img src="~/Images/product/3.jpg" alt="" /></a></td>
                                    <td class="product-name"><a href="product-details.html">Vestibulum suscipit</a></td>
                                    <td class="product-price"><span class="amount">$165.00</span></td>
                                    <td class="product-price"><span class="amount">1</span></td>
                                    <td class="product-subtotal">$165.00</td>
                                    <td class="product-name">已完成</td>
                                    <td class="product-status"><div class="wc-proceed-to-checkout"><a href="#"> 确认完成</a></div></td>
                                </tr>
                                <tr>
                                    <td class="product-thumbnail"><a href="#"><img src="~/Images/product/4.jpg" alt="" /></a></td>
                                    <td class="product-name"><a href="product-details.html">Vestibulum dictum magna</a></td>
                                    <td class="product-price"><span class="amount">$50.00</span></td>
                                    <td class="product-price"><span class="amount">1</span></td>
                                    <td class="product-subtotal">$50.00</td>
                                    <td class="product-name">未完成</td>
                                    <td class="product-status"><div class="wc-proceed-to-checkout"><a href="#"> 确认完成</a></div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>