
@{
    ViewBag.Title = "Star";
}
<!-- breadcrumb start -->
<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="account/index"><i class="fa fa-home"></i> Account</a></li>
            <li class="active">Star</li>
        </ol>
    </div>
</div>
<!-- breadcrumb end -->