@model OnionBookOnline.Models.BookViewModel

<!-- breadcrumb start -->
<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-home"></i>图书</a></li>
            <li class="active">新书上架</li>
        </ol>
    </div>
</div>
<!-- breadcrumb end -->
<!-- shop-area start -->
<div class="shop-area">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8">
                <h2 class="page-heading mt-40">
                    <span class="cat-name">新书上架</span>
                    <span class="heading-counter">共 @Model.newBook.Count 个产品。</span>
                </h2>
                <div class="shop-page-bar">
                    <div>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="profile">
                                <div class="row">
                                    @foreach (var item in Model.newBook)
                                    {
                                        <div class="col-lg-12">
                                            <div class="single-product  shop-single-product mb-30 white-bg">
                                                <div class="product-img pt-20">
                                                    <a href="#"><img src="@item.PATH"  style="width: 50%; height: 50%; padding-left:20px" /></a>
                                                </div>
                                                <div class="product-content">
                                                    <div class="pro-title">
                                                        <h4><a href="~/book/?id=@item.ID">@item.NAME</a></h4>
                                                    </div>
                                                    <div class="pro-rating mb-20">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                    </div>
                                                    <p>@item.INTRODUCTION</p>
                                                    <div class="price-box">
                                                        <span class="price product-price">￥@item.PRICE</span>
                                                    </div>
                                                    <div class="product-icon">
                                                        <div class="product-icon-left f-left">
                                                            <a href="#"><i class="fa fa-shopping-cart"></i>加入购物车</a>
                                                        </div>
                                                        <div class="product-icon-right floatright">
                                                            <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="content-sortpagibar">
                                    <div class="product-count display-inline">显示13条记录中的1-12条</div>
                                    <ul class="shop-pagi display-inline">
                                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                    <div class="selector-field f-right">
                                        <form action="#">
                                            <button class="compare">Compare (1)</button>
                                        </form>
                                    </div>                                              
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop-area end -->