<style>
    .floatright{
        padding-left: 120px;
    }
</style>
<!-- breadcrumb start -->
<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-home"></i>图书</a></li>
            <li class="active">分类</li>
        </ol>
    </div>
</div>
<!-- breadcrumb end -->
<!-- shop-area start -->
<div class="shop-area">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8">
                <h2 class="page-heading mt-40">
                    <span class="cat-name">励志</span>
                    <span class="heading-counter">共20个产品</span>
                </h2>
                <div class="shop-page-bar">
                    <div>
                        <div class="shop-bar">
                            <div class="selector-field f-left ml-20 hidden-xs">
                                <form action="#">
                                    <label>排序</label>
                                    <select name="select">
                                        <option value="">----</option>
                                        <option value="">销量从高到低</option>
                                        <option value="">销量从低到高</option>
                                        <option value="">评分从高到低</option>
                                        <option value="">评分从低到高</option>
                                        <option value="">价格从低到高</option>
                                        <option value="">价格从高到低</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="single-product mb-30  white-bg">
                                            <div class="product-img pt-20">
                                                <a href="#"><img src="~/Images/product/1.jpg" alt="" /></a>
                                            </div>
                                            <div class="product-content product-i">
                                                <div class="pro-title">
                                                    <h4><a href="product-details.html">Moebius Table</a></h4>
                                                </div>
                                                <div class="pro-rating ">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="price product-price">$400.00</span>
                                                </div>
                                                <div class="product-icon">
                                                    <div class="product-icon-left f-left">
                                                        <a href="#">
                                                            <i class="fa fa-shopping-cart"></i>加入购物车
                                                        </a>
                                                    </div>
                                                    <div class="product-icon-right floatright">
                                                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="new">new</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="single-product mb-30  white-bg">
                                            <div class="product-img pt-20">
                                                <a href="#"><img src="~/Images/product/3.jpg" alt="" /></a>
                                            </div>
                                            <div class="product-content product-i">
                                                <div class="pro-title">
                                                    <h4><a href="product-details.html">Moebius Table</a></h4>
                                                </div>
                                                <div class="pro-rating ">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="price product-price">$400.00</span>
                                                </div>
                                                <div class="product-icon">
                                                    <div class="product-icon-left f-left">
                                                        <a href="#"><i class="fa fa-shopping-cart"></i>加入购物车</a>
                                                    </div>
                                                    <div class="product-icon-right floatright">
                                                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="new">new</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="single-product mb-30 white-bg">
                                            <div class="product-img pt-20">
                                                <a href="#"><img src="~/Images/product/4.jpg" alt="" /></a>
                                            </div>
                                            <div class="product-content product-i">
                                                <div class="pro-title">
                                                    <h4><a href="product-details.html">Moebius Table</a></h4>
                                                </div>
                                                <div class="pro-rating ">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="price product-price">$400.00</span>
                                                </div>
                                                <div class="product-icon">
                                                    <div class="product-icon-left f-left">
                                                        <a href="#"><i class="fa fa-shopping-cart"></i>加入购物车</a>
                                                    </div>
                                                    <div class="product-icon-right floatright">
                                                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="new">new</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="single-product mb-30  white-bg">
                                            <div class="product-img pt-20">
                                                <a href="#"><img src="~/Images/product/5.jpg" alt="" /></a>
                                            </div>
                                            <div class="product-content product-i">
                                                <div class="pro-title">
                                                    <h4><a href="product-details.html">Moebius Table</a></h4>
                                                </div>
                                                <div class="pro-rating ">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="price product-price">$400.00</span>
                                                </div>
                                                <div class="product-icon">
                                                    <div class="product-icon-left f-left">
                                                        <a href="#"><i class="fa fa-shopping-cart"></i>加入购物车</a>
                                                    </div>
                                                    <div class="product-icon-right floatright">
                                                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="new">new</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="single-product mb-30 white-bg">
                                            <div class="product-img pt-20">
                                                <a href="#"><img src="~/Images/product/6.jpg" alt="" /></a>
                                            </div>
                                            <div class="product-content product-i">
                                                <div class="pro-title">
                                                    <h4><a href="product-details.html">Moebius Table</a></h4>
                                                </div>
                                                <div class="pro-rating ">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="price product-price">$400.00</span>
                                                </div>
                                                <div class="product-icon">
                                                    <div class="product-icon-left f-left">
                                                        <a href="#"><i class="fa fa-shopping-cart"></i>加入购物车</a>
                                                    </div>
                                                    <div class="product-icon-right floatright">
                                                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="new">new</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="single-product mb-30 white-bg">
                                            <div class="product-img pt-20">
                                                <a href="#"><img src="~/Images/product/7.jpg" alt="" /></a>
                                            </div>
                                            <div class="product-content product-i">
                                                <div class="pro-title">
                                                    <h4><a href="product-details.html">Moebius Table</a></h4>
                                                </div>
                                                <div class="pro-rating ">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="price product-price">$400.00</span>
                                                </div>
                                                <div class="product-icon">
                                                    <div class="product-icon-left f-left">
                                                        <a href="#"><i class="fa fa-shopping-cart"></i>加入购物车</a>
                                                    </div>
                                                    <div class="product-icon-right floatright">
                                                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="new">new</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="single-product mb-30 white-bg">
                                            <div class="product-img pt-20">
                                                <a href="#"><img src="~/Images/product/8.jpg" alt="" /></a>
                                            </div>
                                            <div class="product-content product-i">
                                                <div class="pro-title">
                                                    <h4><a href="product-details.html">Moebius Table</a></h4>
                                                </div>
                                                <div class="pro-rating ">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="price product-price">$400.00</span>
                                                </div>
                                                <div class="product-icon">
                                                    <div class="product-icon-left f-left">
                                                        <a href="#"><i class="fa fa-shopping-cart"></i>加入购物车</a>
                                                    </div>
                                                    <div class="product-icon-right floatright">
                                                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="new">new</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="single-product mb-30 white-bg">
                                            <div class="product-img pt-20">
                                                <a href="#"><img src="~/Images/product/9.jpg" alt="" /></a>
                                            </div>
                                            <div class="product-content product-i">
                                                <div class="pro-title">
                                                    <h4><a href="product-details.html">Moebius Table</a></h4>
                                                </div>
                                                <div class="pro-rating ">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="price product-price">$400.00</span>
                                                </div>
                                                <div class="product-icon">
                                                    <div class="product-icon-left f-left">
                                                        <a href="#"><i class="fa fa-shopping-cart"></i>加入购物车</a>
                                                    </div>
                                                    <div class="product-icon-right floatright">
                                                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="new">new</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="single-product mb-30 white-bg">
                                            <div class="product-img pt-20">
                                                <a href="#"><img src="~/Images/product/10.jpg" alt="" /></a>
                                            </div>
                                            <div class="product-content product-i">
                                                <div class="pro-title">
                                                    <h4><a href="product-details.html">Moebius Table</a></h4>
                                                </div>
                                                <div class="pro-rating ">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="price product-price">$400.00</span>
                                                </div>
                                                <div class="product-icon">
                                                    <div class="product-icon-left f-left">
                                                        <a href="#"><i class="fa fa-shopping-cart"></i>加入购物车</a>
                                                    </div>
                                                    <div class="product-icon-right floatright">
                                                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="new">new</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="single-product mb-30 white-bg">
                                            <div class="product-img pt-20">
                                                <a href="#"><img src="~/Images/product/11.jpg" alt="" /></a>
                                            </div>
                                            <div class="product-content product-i">
                                                <div class="pro-title">
                                                    <h4><a href="product-details.html">Moebius Table</a></h4>
                                                </div>
                                                <div class="pro-rating ">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="price product-price">$400.00</span>
                                                </div>
                                                <div class="product-icon">
                                                    <div class="product-icon-left f-left">
                                                        <a href="#"><i class="fa fa-shopping-cart"></i>加入购物车</a>
                                                    </div>
                                                    <div class="product-icon-right floatright">
                                                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="new">new</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="single-product mb-30 white-bg">
                                            <div class="product-img pt-20">
                                                <a href="#"><img src="~/Images/product/12.jpg" alt="" /></a>
                                            </div>
                                            <div class="product-content product-i">
                                                <div class="pro-title">
                                                    <h4><a href="product-details.html">Moebius Table</a></h4>
                                                </div>
                                                <div class="pro-rating ">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="price product-price">$400.00</span>
                                                </div>
                                                <div class="product-icon">
                                                    <div class="product-icon-left f-left">
                                                        <a href="#"><i class="fa fa-shopping-cart"></i>加入购物车</a>
                                                    </div>
                                                    <div class="product-icon-right floatright">
                                                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="new">new</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="single-product mb-30 white-bg">
                                            <div class="product-img pt-20">
                                                <a href="#"><img src="~/Images/product/2.jpg" alt="" /></a>
                                            </div>
                                            <div class="product-content product-i">
                                                <div class="pro-title">
                                                    <h4><a href="product-details.html">Moebius Table</a></h4>
                                                </div>
                                                <div class="pro-rating ">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="price product-price">$400.00</span>
                                                </div>
                                                <div class="product-icon">
                                                    <div class="product-icon-left f-left">
                                                        <a href="#"><i class="fa fa-shopping-cart"></i>加入购物车</a>
                                                    </div>
                                                    <div class="product-icon-right floatright">
                                                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="new">new</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-sortpagibar">
                                    <div class="product-count display-inline">显示13条记录中的1-12条</div>
                                    <ul class="shop-pagi display-inline">
                                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                    <div class="selector-field f-right">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>