@model List<OnionBookOnline.Models.AUTHOR>

@{
    ViewBag.Title = "Index";
}

<h2>Authors</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].AUTHORID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].NAME)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AUTHORID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NAME)
                </td>
            </tr>
        }
    </tbody>
</table>



